<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Tape,lwr,l</title>
  <meta name="description" content="available at cmsnl.com - parts for a better ride">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/normalize.css">
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/custom.css">


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "46dba9f7-b42d-4f17-bad7-f48c98773b3a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <section class="header">
      <h2 class="title">Tape,lwr,l</h2>
      <img alt="PHOTO MISSING" src="http://images.cmsnl.com/img/partslists/under-cowling-model-k2-for-yc2_mediumsuusa97889_3dd3.jpg">
      <br>
      <p>available at cmsnl.com - parts for a better ride</p>
      <p><a class="button button-primary" href="http://findsavebuy.net/bb/products.php?safe=123&dsid=42&did=191837465&kw=Tape,lwr,l&mid=760">Visit Store</a>  <a class="button button-primary" href="http://findsavebuy.net/bb/products.php?safe=123&dsid=42&did=191837465&kw=Tape,lwr,l&mid=760">Buy Item</a></p>
      <br>
      <p>
       <span class='st_facebook_large' displayText='Facebook'></span>
       <span class='st_twitter_large' displayText='Tweet'></span>
       <span class='st_linkedin_large' displayText='LinkedIn'></span>
       <span class='st_pinterest_large' displayText='Pinterest'></span>
      </p>
    </section>
  </div>

<br><br><hr>

<center>
  <div typeof="v:Recipe" xmlns:v="http://rdf.data-vocabulary.org/#">
    <span rel="v:photo" >
      <img alt="Tape,lwr,l Photo" src="http://images.cmsnl.com/img/partslists/under-cowling-model-k2-for-yc2_mediumsuusa97889_3dd3.jpg" width="70">
    </span>
    <br>
    <span property="v:name">
      Tape,lwr,l
    </span>
    has been rated
    <span rel="v:Review">
      <span typeof="v:Review-aggregate">
        <span rel="v:rating">
          <span typeof="v:Rating">
            <span property="v:average">
              4.8
            </span>
            stars out of
            <span property="v:count">
              104
            </span>
            customer reviews on this site.
          </span>
        </span>
      </span>
    </span>
</div>
</center>

<br><br>
<center><a href="/sitemap.xml">Sitemap</a></center>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>